---
key: 2
title: Event
permalink: /event/
options: fullwidth
excerpt: The Countdown to Space Apps 2019 Begins. Space Apps gives you the opportunity to bring projects to life for a wide range of applications. We are looking forward to seeing what innovative, creative ideas you bring to the community this year.
image: pic01.jpg
background-image: pic01.jpg
---
<h1>The World Need Your Ideas</h1>
<h3>October 18-20, 2019</h3>
<p>Space Apps gives you the opportunity to bring projects to life for a wide range of applications. We are looking forward to seeing what innovative, creative ideas you bring to the community this year.</p>

<p>Space Apps Milwaukee is your chance to experience, experiment, and explore solutions to our universe’s biggest challenges!</p>
  
<p>As the countdown to our eighth year of Space Apps continues, and the inaugural Space Apps in Milwaukee, we are increasingly eager to have problem-solvers of all walks of life join us on the journey. Keep an eye out for upcoming information on how you can get involved this year, whether rolling up your sleeves and participating, or helping students, professionals, engineers, makers, artists, coders, and storytellers on their intrepid travels into Space Apps.</p>

<p>We will be posting everything you need to know about Space Apps Milwaukee Event and happenings here! Check back soon. Want to find out how to help? <a href="mailto:spaceappsmke@gmail.com">Email us!</a></p>

<h3>Here's a look at the 2018 intro video</h3>
<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://player.vimeo.com/video/293544221' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
{%  if site.posts %}{%
      if site.tags.featured %}
  <hr style="margin:0 0 1em 0;" />
  <h4>Featured</h4>
  <ul class="post-list">{%
        for post in site.categories.topics %}{%
          if post.tags contains "featured" %}
      <li>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
          <div class="container">
            <p class="post-title">{{ post.title }}</p>
            <p class="post-date">{{ post.date | date: "%Y-%m-%d" }}</p>
            <p class="post-desc">{{ post.excerpt | strip_html | truncatewords: 12 }}</p>
          </div>
        </a>
      </li>{%
          endif %}{%
        endfor %}
  </ul>{%
      endif %}
  <hr style="margin:1em 0 1em 0;" />

    <ul style="list-style-type: none;">{%
      assign p = '9999'
%}{%  for post in site.categories.topics
%}{%    assign n = post.date | date: "%Y"
%}{%    if n != p
%}{%      assign p = n
%}
      <br /><h5>{{ n }}</h5>{%
        endif %}
      <li style="padding-bottom: 6px;"><code>[{{ post.date | date: "%d %b" }}]</code>&nbsp;
        <a href="{{ post.url | prepend: site.baseurl }}" style="white-space: nowrap;"><b>{{ post.title }}</b></a>&nbsp;
          {{ post.excerpt | strip_html | truncatewords: 12 }}</li>{%
      endfor
%}
    </ul>

{%  endif %}
